.form {

    &__radio-group {
        width: 12.5%;
        display: inline-block;
    }

    &__radio-input {
        display: none;
    }
    
    &__radio-label {
        font-size: inherit;
        cursor: pointer;
        position: relative;
        padding-left: 1.5rem;
    }

    &__radio-button {
        height: 1rem;
        width: 1rem;
        border: 2px solid $primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;

        &::after {
            content: "";
            display: block;
            height: 0.3rem;
            width: 0.3rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $primary;
            opacity: 0;
            transition: opacity .2s;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }
}
